$primary-color: #00ccad;

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: $primary-color;
  width: 100%;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sofia-pro, sans-serif;
  font-style: normal;

  h3 {
    font-weight: normal;
  }

  img {
    height: 40px;
  }
}

.mapbox-map {
  width: 500px;
  height: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
